{% extends 'base.html.twig' %}

{% block title %}All Researches{% endblock %}

{% block body %}
    <section class="companies-info">
        <div class="container">
            <div class="company-title">
                <h3>All Researches</h3>
            </div><!--company-title end-->
            <div class="companies-list">
                <div class="row">
                    {% for rs in researches %}

                            <div class="col-lg-12 col-md-4 col-sm-6 col-12">
                                <div class="company_profile_info">
                                    <div class="company-up-info">
                                        <iframe src="{{ asset('uploads') }}\{{ rs.upload }}" frameborder="0" height="400px" width="780px"></iframe>
                                        <h3>{{ rs.title }}</h3>
                                        <h4>{{ rs.abstract }}</h4>
                                        <ul>
                                            <li><a href="/research/{{ rs.id }}" title="" class="hire-us">View Research</a></li>
                                            <li>
                                            <form action="{{ path('research_update', {'id': rs.id}) }}" method="post">
                                                <input type="hidden" value="{{ rs.view }}" name="view">
                                                <a title="" class="follow"><input type="submit" style="border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: white;
    padding: 0;" value="View"></a>
                                            </form></li>
                                            <li><a class="message-us"><i class="la la-eye"></i>Views {{ rs.view }}</a></li>
                                        </ul>
                                    </div>
                                </div><!--company_profile_info end-->
                            </div>
                    {% endfor %}
                </div>
            </div><!--companies-list end-->
            <div class="process-comm">
                <a href="#" title=""><img src="images\process-icon.png" alt=""></a>
            </div>
        </div>
    </section><!--companies-info end-->
{% endblock %}
