{% extends 'base.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block body %}
    <h1>Asked me questions</h1>

    <table id="tables">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Question</th>
                <th>Answer</th>
                <th>OwnerName</th>
                <th>OwnerPhoto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><img src="{{ asset('uploads') }}/{{ question.askphoto }}" alt="" height="40"></td>
                <td>{{ question.askname }}</td>
                <td>{{ question.question }}</td>
                <td>{{ question.answer }}</td>
                <td>{{ question.answername }}</td>
                <td><img src="{{ asset('uploads') }}/{{ question.answerphoto }}" alt="" height="40"></td>
                <td>
                    <a href="{{ path('questions_show', {'id': question.id}) }}">View</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
    <h1>My questions</h1>
    <table id="tables">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Question</th>
            <th>Answer</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for question in myquestions %}
            <tr>
                <td><img src="{{ asset('uploads') }}/{{ question.answerphoto }}" alt="" height="40"></td>
                <td>{{ question.answername }}</td>
                <td>{{ question.question }}</td>
                <td>{{ question.answer }}</td>
                <td>
                    <a href="{{ path('questions_show', {'id': question.id}) }}">View</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
